In [1]:
import pandas as pd
import numpy as np
import calendar
import datetime
from dateutil.relativedelta import relativedelta

In [35]:
data = pd.read_csv('Records.csv')
report_date = '2/28/2015'
data.head(24)

,Date,Item,Rollup1,Rollup2,Rollup3,Amount
0,1/31/2015,PNC Bank,Deposit,NaN,Asset,5481.550000
1,1/31/2015,Wells Fargo Bank,Deposit,NaN,Asset,0.000000
2,1/31/2015,Capital One Bank,Deposit,NaN,Asset,10145.600000
3,1/31/2015,Robinhood,Investment,NaN,Asset,19770.290000
4,1/31/2015,Scottrade,Investment,NaN,Asset,6347.400000
5,1/31/2015,Lending Club,Investment,NaN,Asset,5442.250000
6,1/31/2015,Google,ESP,NaN,Asset,11137.421880
7,1/31/2015,Merill Lynch,401k,NaN,Asset,26027.930000
8,1/31/2015,House 1,Real Estate,NaN,Asset,570000.000000
9,1/31/2015,Mortgage,Mortgage,NaN,Liability,434171.250000
10,1/31/2015,Credit Card Bill,Loan,NaN,Liability,6420.230000
11,1/31/2015,SP500,Benchmark,NaN,SP500,2082.200000
12,2/28/2015,PNC Bank,Deposit,NaN,Asset,6870.602898
13,2/28/2015,Wells Fargo Bank,Deposit,NaN,Asset,0.000000
14,2/28/2015,Capital One Bank,Deposit,NaN,Asset,12716.547100
15,2/28/2015,Robinhood,Investment,NaN,Asset,19754.762030
16,2/28/2015,Scottrade,Investment,NaN,Asset,6346.652194
17,2/28/2015,Lending Club,Investment,NaN,Asset,5459.937313
18,2/28/2015,Google,ESP,NaN,Asset,10929.991460
19,2/28/2015,Merill Lynch,401k,NaN,Asset,27333.330800
20,2/28/2015,House 1,Real Estate,NaN,Asset,570000.000000
21,2/28/2015,Mortgage,Mortgage,NaN,Liability,430929.690000
22,2/28/2015,Credit Card Bill,Loan,NaN,Liability,6319.322500
23,2/28/2015,SP500,Benchmark,NaN,SP500,2079.990000

In [61]:
def prep_top_mover_data(data, report_date):
    date_time_obj = datetime.datetime.strptime(report_date, '%m/%d/%Y').date()

    year = int(date_time_obj.strftime("%Y"))
    month = int(date_time_obj.strftime("%m"))
    if month == 1:
        day = calendar.monthrange(year, month)[1]
        report_date_prev = datetime.date(year - 1, 12, day)
    else:
        day = calendar.monthrange(year, month-1)[1]
        report_date_prev = datetime.date(year, month -1, day)

    if month <= 10 and month >1:
        report_date_prev = report_date_prev.strftime('%m/%d/%Y')[1:]
    else: 
        report_date_prev = report_date_prev.strftime('%m/%d/%Y')

    data_prep = data.loc[((data['Date'] == report_date)|(data['Date'] == report_date_prev)),['Date','Item','Amount']]
    data_prep = data_prep.loc[data['Rollup3']=='Asset',:]
    data_curr = data_prep.loc[data['Date']==report_date,:]
    data_prev = data_prep.loc[data['Date']==report_date_prev,:]

    df_result = pd.merge(data_curr, data_prev, on='Item')
    df_result['Delta'] = abs(df_result['Amount_x'] - df_result['Amount_y'])
    df_result = df_result.sort_values(by=['Delta'],ascending=False)

    x_list = df_result['Item'].tolist()
    y_curr_list = df_result['Amount_x'].tolist()
    y_prev_list = df_result['Amount_y'].tolist()
    return x_list, y_curr_list, y_prev_list

In [62]:
print(x_list,y_curr_list,y_prev_list)

['Capital One Bank', 'PNC Bank', 'Merill Lynch', 'Google', 'Lending Club', 'Robinhood', 'Scottrade', 'Wells Fargo Bank', 'House 1'] [12716.5471, 6870.602898, 27333.3308, 10929.99146, 5459.937313, 19754.76203, 6346.652193999999, 0.0, 570000.0] [10145.6, 5481.55, 26027.93, 11137.42188, 5442.25, 19770.29, 6347.4, 0.0, 570000.0]

In [ ]:
x=["1 Year","3 Year","5 Year","10 Year","41 Year"],
y=["21.67","11.26","15.62","8.37","11.11"]

In [32]:
def get_hist_asset_data(data, report_date):
    data['Date'] = pd.to_datetime(data['Date'])
    date_time_obj = datetime.datetime.strptime(report_date, '%m/%d/%Y')
    last_index = data[data['Date']==date_time_obj].last_valid_index()

    data_cut = data.loc[:last_index,:]

    data_cut = data_cut.loc[((data_cut['Rollup1'] == 'Deposit')| (data_cut['Rollup1'] == 'Investment')),['Date','Amount']]

    data_pivot = pd.pivot_table(data_cut, values = 'Amount', index = ['Date'],
                          aggfunc=np.sum)
    data_pivot = data_pivot.reset_index()
    data_final = data_pivot.sort_values(by='Date', ascending=False)
    data_final['Date'] = data_final['Date'].dt.strftime('%m/%d/%Y')
    
    if data_final.shape[0] > 6:
        data_final = data_final[:6]
    return data_final

         Date        Amount
1  02/28/2015  51148.501535
0  01/31/2015  47187.090000

In [59]:
def finance_metric_calc(data,report_date):
    assets = data.loc[((data['Date']==report_date) & (data['Rollup3'] == 'Asset')),'Amount'].sum()
    liabilities = data.loc[((data['Date']==report_date) & (data['Rollup3'] == 'Liability')),'Amount'].sum()
    net_worth = assets - liabilities    
    return net_worth, assets, liabilities

In [106]:
def waterfall_data_prep(data, report_date):
    date_time_obj = datetime.datetime.strptime(report_date, '%m/%d/%Y').date()

    year = int(date_time_obj.strftime("%Y"))
    month = int(date_time_obj.strftime("%m"))
    if month == 1:
        day = calendar.monthrange(year, month)[1]
        report_date_prev = datetime.date(year - 1, 12, day)
    else:
        day = calendar.monthrange(year, month-1)[1]
        report_date_prev = datetime.date(year, month -1, day)

    if month <= 10 and month >1:
        report_date_prev = report_date_prev.strftime('%m/%d/%Y')[1:]
    else: 
        report_date_prev = report_date_prev.strftime('%m/%d/%Y')

    x_list = [report_date_prev, "Deposit", 'Investment', "ESP", "401k", 'Real Estate', 'Mortgage','Loan',report_date]

    net_worth_prev = finance_metric_calc(data,report_date_prev)[0]
    net_worth_curr = finance_metric_calc(data,report_date)[0]
    y_list = [net_worth_prev]

    for i in x_list[1:-1]:
        delta_i = data.loc[((data['Date']==report_date) & (data['Rollup1'] == i)),'Amount'].sum() - data.loc[((data['Date']==report_date_prev) & (data['Rollup1'] == i)),'Amount'].sum()
        if i in ['Mortgage','Loan']:
            y_list.append(-delta_i)
        else:
            y_list.append(delta_i)

    y_list.append(net_worth_curr)
    y_range = [y_list[0]*0.9,y_list[-1]*1.1]
    return x_list, y_list, y_range

In [147]:

def line_chart_data_prep(data, report_date, account):
    data['Date'] = pd.to_datetime(data['Date'])
    date_time_obj = datetime.datetime.strptime(report_date, '%m/%d/%Y')
    last_index = data[data['Date']==date_time_obj].last_valid_index()
    
    data_cut = data.loc[:last_index,:]
    data_sp = data_cut.loc[data_cut['Rollup3']=='SP500',:]
    if account == 'Asset':
        data_asset = data_cut.loc[data_cut['Rollup3']=='Asset',:]
        data_pivot = pd.pivot_table(data_asset, values = 'Amount', index = ['Date'],
                      columns=['Rollup3'],aggfunc=np.sum)
        y_list = data_pivot[account].tolist()
    else :
        data_asset = data_cut.loc[data_cut['Rollup1']==account,:]
        data_pivot = pd.pivot_table(data_asset, values = 'Amount', index = ['Date'],
                      columns=['Rollup1'],aggfunc=np.sum)
        y_list = data_pivot[account].tolist()
        
    y_list_sp = data_sp['Amount'].tolist()
    date_list = data_pivot.index.tolist()
    
    return date_list, y_list, y_list_sp

In [163]:
def pie_chart_data_prep(data,report_date):
    data_cut = data.loc[(data['Date']==report_date) & (data['Rollup3']=='Asset'),:]
    data_pivot = pd.pivot_table(data_cut, values = 'Amount', index = ['Date'],
                               columns=['Rollup1'], aggfunc=np.sum)
    labels_list = data_pivot.columns.to_list()
    values_list = data_pivot.iloc[0].values.tolist()
    return labels_list, values_list

In [168]:
tier1_amount = data.loc[(data['Date']==report_date) & (data['Rollup1']=='Deposit'),'Amount'].sum()
tier2_amount = data.loc[(data['Date']==report_date) & ((data['Rollup1']=='Investment')|(data['Rollup1']=='ESP')),'Amount'].sum()
tier3_amount = data.loc[(data['Date']==report_date) & (data['Rollup3']=='Asset'),"Amount"].sum() - tier1_amount - tier2_amount